<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/public/css/signUp.css" />
    <title>Sign Up - Expense Tracker</title>
</head>
<body>
    <form id="form-detail" class="form-detail" onsubmit="signup(event)">
        <h1> Expense Tracker</h1>
        <hr>
        <p> Sign up to manage your expenses</p>
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password">
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Sign Up</button>
            
            <div class="existing-user">
                <a href="../Login/login.html"> Existing User - Login</a>
            </div>
            
    </form>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="/public/js/signup.js"></script>
</body>
</html>
