<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/public/css/logIn.css">
  <title>Login</title>
</head>
<body>
  <div class="form-container">
    <form>
      <h1>Login</h1>
      <p class="form-instructions">Please enter your email and password to log in</p>
      <hr>
      <label for="email">Email</label>
      <input type="email" id="email" name="email">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
      <button type="submit">Submit</button>

      <p class="existing-user" >New user? <a href="../Signup/signup.html">Sign up</a> here </p>

    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="/public/js/login.js"></script>
  </div>
</body>
</html>
