body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.heading {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
  font-size: 16px;
}

input[type="number"],
input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#message {
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

#listOfExpenses,
#leaderboard {
  list-style: none;
  margin: 0;
  padding: 0;
}

#listOfExpenses li,
#leaderboard li {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 0 5px #ccc;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  form {
    padding: 10px;
  }

  label,
  input[type="number"],
  input[type="text"],
  select,
  .btn {
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
  }
  
  .heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .hr {
    width: 50%;
    border: 1px solid gray;
    margin: auto;
  }
  
  @media (max-width: 576px) {
    label,
    input[type="number"],
    input[type="text"],
    select,
    .btn {
      font-size: 16px;
    }
  }
}  


